<!DOCTYPE html>
<html>
<head>
  <title>FeedbackMailer</title>
  <%= stylesheet_link_tag    "feedback_mailer/application", media: "all" %>
  <%= javascript_include_tag "feedback_mailer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
