/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.feedback_link {
  position: fixed;
  left: 0px;
  top: 40%;
}

a.feedback_link {
  display: block;
  background: #2a64b0;
  height: 15px;
  width: 80px;
  padding: 8px 16px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 1px #333;
  border-left: solid 1px #333;
  border-right: solid 1px #fff;
  z-index: 999;
  transform-origin: 0% 0%;
  -webkit-transform: rotate(-90deg);
}

a.feedback_link:hover {
  background: #00337f;
  cursor: pointer; 
  cursor: hand;
}

.feedback_form_container { 
  visibilty: hidden;  

}

.feedback_form_container.open {
  
  
}

.feedback_popout.hidden{

  display: none;

}

.feedback_popout.animatedHidden{
  position: fixed;
  background: #2a64b0;
  color: #ffffff;
/*  left: 0px;
  top:20%;*/
  border-bottom: solid 1px #333;
  border-left: solid 1px #333;
  border-right: solid 1px #fff;
  width: 400px;
  padding: 8px 16px; 
  font-family: Arial, sans-serif;

  -webkit-animation: popoutAnimationHidden 0.5s linear forwards; /* Chrome, Safari, Opera */
  -webkit-animation-direction: normal;
  animation: popoutAnimationHidden 0.5s linear forwards;
  animation-direction: normal;


}

.feedback_popout.open {
  position: fixed;
  background: #2a64b0;
  color: #ffffff;
/*  left: 0px;
  top:20%;*/
  border-bottom: solid 1px #333;
  border-left: solid 1px #333;
  border-right: solid 1px #fff;
  width: 400px;
  padding: 8px 16px; 
  font-family: Arial, sans-serif;



  -webkit-animation: popoutAnimation 1s forwards; /* Chrome, Safari, Opera */
  -webkit-animation-direction: normal; /* Chrome, Safari, Opera */
  animation: popoutAnimation 1s forwards;
  animation-direction: normal;

}

.feedback_popout_close {
  float: right;
  cursor: hand;
  cursor: pointer;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes popoutAnimation {
    0%   { left:-400px; top:15%;}
    100% { left:0px; top:15%;}

}


@-webkit-keyframes popoutAnimationHidden {
    0%   { left:0px; top:15%;}
    100% { left:-440px; top:15%;}

}



/*@keyframes popoutAnimation {
    0%   {background:red; left:0px; top:0px;}
    25%  {background:yellow; left:200px; top:0px;}
    50%  {background:blue; left:200px; top:200px;}
    75%  {background:green; left:0px; top:200px;}
    100% {background:red; left:0px; top:0px;}
}


*/

